@page
@model ObservatoireDesTerritoires.Pages.ImportModel
@{
    ViewData["Title"] = "Import";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Import.css">
</head>
<main>
    @if (string.IsNullOrEmpty(Request.Query["Lign"]))
    {
        <div>
            <form method="post" class="FileForm" asp-page-handler="FileCollumn" enctype="multipart/form-data">
                <div class="file-input">
                    <input type="file" id="file" name="file" class="file">
                    <label for="file">
                        Sélectionner un fichier
                        <p class="file-name"></p>
                    </label>
                </div>
                <input type="number" class="NbLEnTête" name="nblentete" placeholder="Nombre de ligne d'en-tête" required />
                <input type="submit" class="Importbutton" value="Import" />
                </form>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="error-message">@Model.ErrorMessage</div>
                }
        </div>
    }
    
</main>